<h3>Welcome {{username}}</h3>


<div *ngFor="let letters of letterMatrix" class="btn-group">
  <div *ngFor="let letter of letters">
    <button class="square {{letter.isSelected? 'selected': 'default'}}"
            (click)="addWord(letter)">{{letter.character}}</button>
  </div>
</div>


<p>{{wordManagerService.getWord()}}</p>

<button (click)="submit()">submit</button>

<button (click)="wordManagerService.removeLastLetter()">backspace</button>

<div *ngFor="let word of wordList">
  <p> {{word}}</p>
</div>


<app-timer></app-timer>
