.btn-group button {
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}


.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none;
}


.btn-group button:hover {
  background-color: #11af04;
}


.selected{
  background-color: #11af04;
  border: 1px solid #488031;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}

.square {
  width: 55px;
  height: 55px;
}

.timer{
  align-content: center;
}

