<h3>Welcome {{username}}</h3>

<p>
  Click on the letters to find word!
</p>
<div class="timer">
  <app-timer></app-timer>

</div>

<div *ngFor="let letters of letterMatrix" class="btn-group">
  <div *ngFor="let letter of letters">
    <button class="square {{letter.isSelected? 'selected': 'default'}}"
            (click)="addWord(letter)">{{letter.character}}</button>
  </div>
</div>


<p>{{getWord()}}</p>

<button (click)="submit()">submit</button>

<button (click)="removeLastLetter()">backspace</button>

<div *ngFor="let word of wordList">
  <p> {{word}}</p>
</div>
