table {
  width: 100%;
  margin: 20px;
}

.container{
  margin: 30px;
}
.center-text{
  text-align: center;
}

tr.current-user{
  background: #5cb85c;
}
.center-button{
  padding: 10px;
  width: 200px;
  margin-top: 10px;
}
